.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}

.w300 {
  width: 300px;
}

.w350 {
  width: 350px;
}

.w400 {
  width: 400px;
}

.w450 {
  width: 450px;
}

.w500 {
  width: 500px;
}

.w550 {
  width: 550px;
}

.w600 {
  width: 600px;
}

.w650 {
  width: 650px;
}

.w700 {
  width: 700px;
}

.mh300 {
  min-height: 300px;
}

.pointer{
  cursor: pointer;
}

.file_tree .q-tree__node--selected {
  background-color: #172830;
  color: white;
}
