h1, h2, h3, h4, h5, h6 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 1;
}

h1 {
  margin: .5em 0;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #d8dee4;
}

h2 {
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d8dee4;
}

h3 {
  font-size: 1.25em;
  padding-left: 16px;
}

h4 {
  font-size: 1em;
  padding-left: 16px;
}

h5 {
  font-size: .875em;
  padding-left: 16px;
}

h6 {
  font-size: .85em;
  color: #57606a;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

ul, ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 2em;
}

tt, code {
  padding: 1px 4px;
  margin: 0;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
  padding: 8px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}